.table-heading.status,
.status{
    --status-dot-width: 12px;
    --status-dot-padding-right:12px;
    
    padding-left: calc(var(--status-dot-width) + (var(--status-dot-padding-right) * 2));
}

.status.available::before{
    content:'';
    width: var(--status-dot-width);
    height: var(--status-dot-width);
    display: inline-block;
    border-radius: var(--status-dot-width);
    background-color: #81D132;
    margin-right: var(--status-dot-padding-right);
}
.status.available{
    padding-left: var(--status-dot-padding-right);
}