.action-bar{
    width: 100%;
    display: flex;
    padding:12px 24px;
    align-items:center;
}
.selected-count{
    padding: 0px 24px;
    max-width: 180px;
    width: 100%;
    text-align: left;
}